html {
  font-family: sans-serif;
  background: black;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: #202020;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #1e9ae0;
  margin: 1rem 0;
}

a {
  color: #1e9ae0;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #363636;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #1e9ae0;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  background: #363636;
  border: 0px;
  color: #D7DADC;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
  min-height: 2em;
}

.post-body-row {
  display: flex;
  width: 50%;
  padding-top: 15px;
}

.like-count {
  white-space: nowrap;
  margin-left: 5px;
  margin-top: 0px;
}

.like-div  {
  cursor: pointer;
  display: flex;
  color: #5C5C5C;
}

.edit-button  {
  margin-left: 10px;
  text-decoration: none;
  color: #5C5C5C;
}

.post-title {
  text-decoration: none;
  color: #D7DADC;
}

.post {
  display: flex;
}

.post-img {
  width: 10%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0xp;
}

.post-body {
  width: 90%;
}

.save-button  {
  margin-left: 10px;
  text-decoration: none;
  color: #5C5C5C;
}

.comments-div {
  margin-left: 10px;
}

.comments-button  {
  text-decoration: none;
  color: #5C5C5C;
}

.user-name  {
  color: #D7DADC;
}

.update-title {
  color: #D7DADC;
}

.post-image {
  float: right;
  font-size: 20em;
  margin: 30px;
}

.solo-post-title  {
  font-size: 2em;
  text-decoration: none;
  color: #D7DADC;
}

.solo-post-about  {
  color: #5C5C5C;
  opacity: .5;
}

.solo-post-body {
  white-space: pre-line;
  text-align: justify;
  color: #606060;
}

.solo-post-info-bar {
  display: flex;
}

.solo-like-div  {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  color: #5C5C5C;
}

.solo-comments-div  {
  margin-left: 20px;
}

.blog {
  min-height: 500px;
}

.comments-post-divider  {
  clear: both;
}

.new-comment-body {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

.comment-controls-div {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #181818;
  height: 50px;
  margin-top: -13px;
  border: solid #181818 1px;
  display: flex;
  align-items: center;
}

.comments-title {
  margin-left: 10%;
}

.comment-button {
  margin-left: auto;
  margin-right: 15px;
}